REQ-ID: CC-001.
Description: The system shall only allow a ticket refund if the sporting event associated with the ticket has not taken place yet. 
Type: 9
Rationale: Once a sporting event has taken place a customer cannot request a refund because the event is now in the past. 
Originator: Thomas Shelby.
Comments: [CC-001] Created and committed 01-FEB-2019.

REQ-ID: CC-002.
Description: The system shall support ticket requests originating from the general public, sponsor companies, sports officials from Commonwealth countries and competitor guests. 
Type: 9
Rationale: The Commonwealth Games encourages attendance by the public, but must also fulfil an obligation to sponsors, officials and competitors by making a share of tickets available to all types of spectator. 
Originator: Thomas Shelby.
Comments: [CC-002] Created and committed 01-FEB-2019.

REQ-ID: AM-001
Description: Find the tickets and ensure validity
Rationale: to verify that the tickets haven’t already been returned, refunded, or reallocated.
Originator: Polly Gray
Comments: [AM-001] Created and committed 02-FEB-2019.

REQ-ID: AM-002
Description: Capture the reasons for customer return
Rationale: to monitor a potential pattern of fraud
Originator: Polly Gray
Comments: [AM-002] Created and committed 02-FEB-2019.

REQ-ID: DJT-001
Description – The Product should allocate a number of tickets to each event
Rationale – The product should determine a maximum allocation for each event so that ticket sales can be monitored for appropriate levels of sales to maintain a full stadium
Originator - Polly Gray - responsible for domestic ticket sales for the XXII Commonwealth Games while
Comments: [DJT-001] Created and committed 09th Feb 2019

REQ-ID: DJT-002
Description – Returning a ticket will increase the number of tickets available for an event
Rationale – A ticket return will reduce ticket allocation for an event and hence increase the number of tickets available for sale 
Originator - Polly Gray - responsible for domestic ticket sales for the XXII Commonwealth Games
Comments: [DJT-002] Created and committed 09th Feb 2019

REQ-ID: RB-001
Description: The system shall search for the customer registration to identify the customer returning ticket
Rationale: To check if the person intending to return the ticket is a registered customer and the same who made that ticket purchase
Originator: Thomas Shelby
Comments: [RB-001] Created and committed 09-FEB-2019.

REQ-ID: RB-002
Description: The system shall add the ticket to the reallocation list to be reallocated every 24 hrs
Rationale: To make any seats that has now become available to be reallocated to those on the waiting list in a manageable and consistent manner
Originator: Polly Gray
Comments: [RB-001] Created and committed 09-FEB-2019.

REQ-ID: TC-001
Description: The software must be able to identify specific bookings using information provided by the user who made the booking
Rationale: To allow a user to collect tickets or amend the booking.
Originator: Polly Gray
Comments: [TC-001] Created and committed 10-FEB-2019.

REQ-ID: TC-002
Description: The software must be capable of refunding money paid for unwanted tickets to the user who originally paid.
Rationale: If a user does not get their money back it is likely to cause legal problems
Originator: Thomas Shelby
Comments: [TC-002] Created and committed 10-FEB-2019.

REQ-ID: OH-001
Description: The website should allow the customer to enter ticket number(s) to initiate a ticket return.
Rationale: Entering the ticket numbers would allow the system to track down the related event and the customer who initially purchased the ticket(s). 
Originator: Thomas Shelby.
Comments: [OH-001] Created and committed 10th Feb 2019.

REQ-ID: OH-002
Description: The website should allow a customer to login with a personal combination of username and password. 
Rationale: Allowing customers to login with their individual username and password would enable the application to identify and verify the customer identity that initiated the ticket(s) return. 
Originator: Thomas Shelby.
Comments: [OH-002] Created and committed 10th Feb 2019.

REQ-ID: AF-001
Description: The product shall check if the ticket is already expired
Rationale: To avoid unrightful refund claims
Originator: Customer
Comments: [AF-001] Created and committed 11th Feb 2019.

REQ-ID: AF-002
Description: The product shall updates DMS (live ticket information database) about returned ticket statuses according to the decision of the “Ticket Review Team”.
Rationale: To make returned tickets available again 
Originator: Ticket Review Team
Comments: [AF-002] Created and committed 11th Feb 2019.

REQ-ID: SAB-001
Locate Ticket purchased
Description: The system will access copy of ticket stored.
Rational	: To ensure the authenticity of returned ticket(s).
Originator	: Thomas Selby

REQ-ID: SAB-002
Confirm customer is the returned ticket Owner.
Description: The system will compare customer's identity to the accessed ticket customer,s identity.
Rational	: To ensure decision to return is that of the original customer to avoid redudiation.
Originator	: Thomas Selby

REQ-ID: CS-001
Description: The system will ensure that the event for which the tickets are being returned is in the future.
Rational: Refunds cannot be issued for events that are in the past.
Originator: Polly Gray

REQ-ID: CS-002
Description: The system will ensure that tickets are returned to a reallocation pool, not back to the general inventory.
Rational: To ensure that tickets are reallocated to those on the waiting list and not purchased as a general sale.
Originator: Polly Gary

REQ-ID: SS-001
Description: The product shall allow the customer to specify a reason for return for each ticket to be returned.
Rationale: The customer may return multiple tickets (for same event or different events) with each return having a different reason.
Originator: Thomas Shelby

REQ-ID: SS-002
Description: The product shall calculate the correct refund amount for returned ticket(s).
Rationale: To avoid legal and reputational consequences, the customer must receive the correct refund based on the ticket(s) original purchase price despite potential variations in price since original purchase.
Originator: Polly Gray
