REQ-ID: JF-002
Description: The product shall check that the tickets are valid for return
Type: Functional
Rationale: To ensure that the tickets can be returned
Fit Criterion: The system fulfils this requirement if it only allows to return tickets that are accepted to be returned
Originator: Polly Gray
Comments: [JF-002] Created and committed 13-FEB-2019
 
REQ-ID: AM-002
Description: Capture the reasons for customer return
Rationale: to monitor a potential pattern of fraud
Originator: Polly Gray
Comments: [AM-002] Created and committed 02-FEB-2019.
 
REQ-ID: DJT-001
Description – The Product should allocate a number of tickets to each event
Rationale – The product should determine a maximum allocation for each event so that ticket sales can be monitored for appropriate levels of sales to maintain a full stadium
Originator - Polly Gray - responsible for domestic ticket sales for the XXII Commonwealth Games while
Comments: [DJT-001] Created and committed 09th Feb 2019
 
REQ-ID: CS-002
Description: The system will ensure that tickets are returned to a reallocation pool, not back to the general inventory.
Rational: To ensure that tickets are reallocated to those on the waiting list and not purchased as a general sale.
Originator: Polly Gary
 
REQ-ID: SS-002
Description: The product shall calculate the correct refund amount for returned ticket(s).
Rationale: To avoid legal and reputational consequences, the customer must receive the correct refund based on the ticket(s) original purchase price despite potential variations in price since original purchase.
Originator: Polly Gray.
Comments: [SS-002] Created and committed 12-FEB-2019.
 
REQ-ID: RB-001
Description: The system shall search for the customer registration to identify the customer returning ticket
Rationale: To check if the person intending to return the ticket is a registered customer and the same who made that ticket purchase
Originator: Thomas Shelby
Comments: [RB-001] Created and committed 09-FEB-2019. Recommited to take scree shot for the solution document 15-FEB-2019.
 
REQ-ID: DR-001
Description: The system shall meet not exceed the revenue target by more than 5%.
Rationale: The system needs to make a profit but not to generate criticism.
Originator: Polly Gray

REQ-ID: DR-002
Description: The system must be transparent in its operation
Rationale:  There must be no impression that any person or organisation has received preference ticket allocation.
Originator: Thomas Shelby
