REQ-ID: CC-001.
Description: The system shall only allow a ticket refund if the sporting event associated with the ticket has not taken place yet. 
Type: 9
Rationale: Once a sporting event has taken place a customer cannot request a refund because the event is now in the past. 
Originator: Thomas Shelby.
Comments: [CC-001] Created and committed 01-FEB-2019.

REQ-ID: CC-002.
Description: The system shall support ticket requests originating from the general public, sponsor companies, sports officials from Commonwealth countries and competitor guests. 
Type: 9
Rationale: The Commonwealth Games encourages attendance by the public, but must also fulfil an obligation to sponsors, officials and competitors by making a share of tickets available to all types of spectator. 
Originator: Thomas Shelby.
Comments: [CC-002] Created and committed 01-FEB-2019.

REQ-ID: AM-001
Description: Locate the tickets in the ticketing database and ensure validity
Rationale: to verify that the tickets haven’t already been returned, refunded, or reallocated.
Originator: Polly Gray
Comments: [AM-001] Created and committed 02-FEB-2019.

REQ-ID: AM-002
Description: Capture the reasons for customer return
Rationale: to monitor a potential pattern of fraud
Originator: Polly Gray
Comments: [AM-002] Created and committed 02-FEB-2019.
